**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md


/src/BrickInventorySystem/Api/obj
/src/BrickInventorySystem/Api/bin
/src/BrickInventorySystem/Application/obj
/src/BrickInventorySystem/Application/bin
/src/BrickInventorySystem/Core/obj
/src/BrickInventorySystem/Core/bin
/src/BrickInventorySystem/Infrastructure/obj
/src/BrickInventorySystem/Infrastructure/bin
